header {
    clear: both;
}

.left {
    float: left;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.right {
    float: right;
}

footer {
    clear: both;
}

#animatediv {
    width: 50px;
    background: pink;
    color: #ffc800;
    font-size: 26px;
    font-weight: bolder;
    padding: 20px;
    float: left;
    margin: 20px 0px;
    border-radius: 70px;
    position: fixed;
    animation: AnimateDiv 30s infinite;
}
@keyframes AnimateDiv{
    0% {transform: rotate(0deg);left:0px;}
    5% {transform: translate(20px,50px);left:100px;}
    10% {transform: rotate(30deg);left:300px;}
    20% {transform: scale(2, 3);left:200px;}
    30% {transform: skewX(20deg);left:400px;}
    40% {transform: skewY(50deg);left:300px;}
    45% {transform: rotate(100deg);left:500px;}
    50% {transform: rotate(1000deg);left:400px;background: rgba(236, 140, 175, 0.49);}
    55% {transform: translate(100px,250px);left:600px;}
    60% {transform: scale(10, 20);left:500px;} 
    70% {transform: rotate(-360deg);left:700px;}
    80% {transform: translate(-30px,-40px);left:600px;}
    90% {transform: translate(66px,20px);left:800px;}
    100% {transform: translate(-30px,-40px);left:0px;background: rgba(189, 50, 50, 0.46);}
    }
    
    
    
    
    
    
    
