/*
This is CSS file
*/

body {
    margin: 0;
    padding: 0;
    background-color: #ededed;
    font-family: sans-serif;
    line-height: 20px;
}

header {
    background: url(/images/tt3.png) repeat-x;
}
	
#myHeader {
	width: 970px;
	height: 150px;
	position: relative;
	margin: 0 auto;
	background: url(/images/tt.png) no-repeat
}

a.sitetitle {
    display: block;
    float: left;
    margin: 45px 20px 0;
    width: 240px;
    height: 60px;
    background: url(/images/111.gif) no-repeat;
}

#mynav {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 750px;
    height: 60px;
    background:#00A2E8;
}

.Menu ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Menu li {
    position: relative;
    float: left;
    display: inline;
    height: 60px;
    line-height: 60px;
    margin-right: 20px;
}
