/*
This is CSS file
*/

#myHeader {
	width: 1015px;
	height: 150px;
	position: relative;
	margin: 0 auto;
	background: url(/images/113.png) no-repeat
}

a.sitetitle {
    display: block;
    float: left;
    margin: 45px 20px 0;
    width: 240px;
    height: 60px;
    background: url(/images/111.gif) no-repeat;
}

#mynav {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 750px;
    height: 60px;
    background:green;
}

.Menu ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Menu li {
    position: relative;
    float: left;
    display: inline;
    height: 60px;
    line-height: 60px;
    margin-right: 20px;
}
